.one-vh {
    min-width: 100vh;
}
.logo-left-corner {
    display: none;
}
@media (min-width: 550px){
    .logo-left-corner {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
    }
}

.push-up {
    margin-bottom: 5%;
}
.contact-input--ma1 {
    margin-top: 15px;
}
.contact-input--mb1 {
    margin-bottom: 15px;
}
.hover-link:hover {
    cursor: pointer;
}

.tal {
    text-align: center;
}

.fa {
    font-size: 28px;
}
.spacer-small {
    margin-bottom: 10em;
}
