.one-vh {
    min-width: 100vh;
}
.logo-left-corner {
    display: none;
}
@media (min-width: 550px){
    .logo-left-corner {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
    }
}
