.one-vh {
    min-width: 100vh;
}
.logo-left-corner {
    display: none;
}
@media (min-width: 550px){
    .logo-left-corner {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
    }
}

.push-up {
    margin-bottom: 5%;
}
.contact-input--ma1 {
    margin-top: 15px;
}
.contact-input--mb1 {
    margin-bottom: 15px;
}
.hover-link:hover {
    cursor: pointer;
}

.tal {
    text-align: center;
}

.fa {
    font-size: 28px;
}
.spacer-small {
    margin-bottom: 10em;
}

/*.encircled {
    border: solid black 2px;
    border-radius: 50%;
    padding-left: 1.6rem;
    padding-right: 1.8rem;
    text-align: center;
}*/
.encircled {
    border-radius: 50%;

    width: 36px !important;
    height: 36px !important;
    padding: 8px !important;

    background: #fff !important;
    border: 2px solid #666 !important;
    color: #666 !important;
    text-align: center !important;

    font: 32px Arial, sans-serif !important;
}
